/* Estilos por defecto para las p�ginas HTML. ----------------------------*/
/* se especifican tama�os generales y clases globales. Se puede usar para */
/* otros proyectos ya que no define estilos o clases para objetos --------*/
/* particulares ----------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*-Estilos HTML Generales  -----------------------------------------------*/
/*------------------------------------------------------------------------*/

html {
	overflow-y: scroll;
	font: 11pt Tahoma, Verdana, Arial, Sans-Serif; /* Resets 1em to 10px */

}

body {
	font-family: Helvetica, Sans;
	padding: 0;
	margin: 0;
	color: #333;	
	font-size: 11pt;
}


body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

* { 
	margin: 0;
	background-repeat: no-repeat; 
	font-size: inherit;
}


/*------------------------------------------------------------------------*/
/*-Estilos por defecto para algunos tags   -------------------------------*/
/*------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	text-align: left;
	margin: 10px 0;
}


h1 { font-size: 16pt; }

h2 { font-size: 15pt; }

h3 { font-size: 14pt; }

h4 { font-size: 13pt; }

h5 { font-size: 12pt; }

h6 { font-size: 11pt; }




a { cursor: pointer;  } /* El cursor sobre los links es "pointer" (la mano) aunque no tenga href */

a img { border: 0; vertical-align: middle;  }


ul { list-style-type: none;  padding: 0; }

ul li {  overflow: visible; list-style-type: none;  }


p { margin-bottom: 20px; }



/*------------------------------------------------------------------------*/
/*-Algunas clases globales por defecto -----------------------------------*/
/*------------------------------------------------------------------------*/


/* Elementos en los que no se deben dibujar el rectangulo delimitador del foco */

.focus-borderless:focus, .focus-borderless:active { outline: 0 !important; }


/* Generalmente para los links, que se subrayen cuando el mouse pasa por arriba */

.hover-underline { text-decoration: none; }

.hover-underline:hover { text-decoration: underline; }


/* Clases para objetos flotantes (izq y der) y la clase de clear (para despues de los objetos flotantes) */

.clear, .clear-both { clear: both;  display: block; height: 0; }

.float-left { float: left; }

.float-right { float: right; }


/* Clases para algunos colores de texto */

.gray, .grey { color: #888; }

.dark-gray, .dark-grey { color: #666; }

.error { color: #F00; }

.black { color: #111; }


/* Clases para alineado de texto (horizontal) o de celda (vertical) */

.center, .align-center { text-align: center !important; }

.align-justify { text-align: justify !important; }

.align-left { text-align: left !important; }

.align-right { text-align: right !important; }

.align-top { vertical-align: top !important; }

.align-middle { vertical-align: middle !important; }

.align-bottom { vertical-align: bottom !important; }



/* Clases para tama�os de texto */

.normal { font-size: 11pt !important; }

.small { font-size: 10pt !important; }

.smaller { font-size: 9pt !important; }

.smallest { font-size: 8pt !important; }


/* Clases para estilos de texto */

.strong, .bold { font-weight: bold !important; }

.underline { text-decoration: underline !important; }

.italic { font-style: italic !important; }


/* Clases para el espaciado de texto */

.nowrap { white-space: nowrap !important; } /* No se rompen las lineas */

.letter-spaced, .letter-spaced-1 { letter-spacing: 1px; }

.letter-spaced-2 { letter-spacing: 2px; }

.mono { font-family: mono; letter-spacing: 1px; } /* Texto monoespaciado (como algunos textos numericos) */



/* Clases para algunos estilos predefinidos de bloques */


.border-solid {  border-width: 1px; border-style: solid; }

.separator-top { border-top: solid 1px #DDD; margin-top: 10px; padding-top: 10px; } 

.separator-bottom { border-bottom: solid 1px #CCC; margin-bottom: 10px; padding-bottom: 10px; }

.fill-width, .full-width { width: 100%; }



/* Clases para posicionar la imagen de fondo */

.background-center, .background-center-center { background-position: center center !important; }

.background-right, .background-center-right { background-position: center right !important; }

.background-left, .background-center-left { background-position: center left !important; }

.background-top, .background-top-center { background-position: top center !important; }

.background-bottom, .background-bottom-center { background-position: bottom center !important; }

.background-top-left { background-position: top left !important; }

.background-top-right { background-position: top right !important; }

.background-bottom-left { background-position: bottom left !important; }

.background-bottom-right { background-position: bottom right !important; }





/* Algunas clases para los estilos de tablas m�s usados */


table.inline { display: inline-table; }

table.border-collapse, table.collapse { border-collapse: collapse; }




/*------------------------------------------------------------------------*/
/*-Algunos objetos de uso com�n ------------------------------------------*/
/*------------------------------------------------------------------------*/


/* L�nea para separar bloques */
div.separator { border-bottom: solid 1px #CCC; height: 2px; margin: 0 0 40px; }

/* L�nea para separar bloques, m�s peque�a */
div.separator-small { border-bottom: solid 1px #CCC; height: 2px; margin: 0 0 20px; }


/* Espacio entre bloques */
div.space { height: 2px; margin: 0 0 20px; }


/* Linea horizontal */
div.line { border-top: solid 1px #888; margin: 10px auto 10px; height: 1px; padding: 0; }


/* Linea vertical para separar bloques a la izquierda */
div.separator-left { border-left: solid 1px #DDD;  padding: 0 0 0 20px; margin: 0; }


/* Linea vertical para separar bloques a la derecha */
div.separator-right { border-right: solid 1px #DDD;  padding: 0 20px 0 0; margin: 0; }


/* Espacio a la izquierda */
div.space-left { padding-left: 20px; }


/* Espacio a la izquierda */
div.space-right { padding-right: 20px; }


/* Separador de texto */
span.separator { padding: 0 10px; vertical-align: middle; }

/* Separador de texto, m�s peque�o */
span.separator-small { padding: 0 5px; vertical-align: middle; }



/* Sufijo */
span.sufix { color: #444; padding-left: 5px; }


/* Prefijo */
span.prefix { color: #444; padding-right: 10px; }


/* Super�ndice */
span.sup { font-size: 9pt; position: relative; top: -4px; left: 2px; }


*.inline-block, *.display-inline-block { display: inline-block; }

*.table-cell, *.display-table-cell { display: table-cell; }

*.block, *.display-block { display: block}

*.visible { visibility: visible; }

*.hidden { visibility: hidden; }

*.fixed, *.position-fixed { position: fixed; z-index: 100;}

*.relative, *.position-relative { position: relative; }

*.absolute, *.position-absolute { position: absolute; }

.margin-width-auto { margin: 0 auto; }



.loading-center-32 {
	background-image: url(./images/loading-icon-32.gif);
	background-repeat: no-repeat;
	background-position: center center;
}


.loading-center-22 {
	background-image: url("./images/loading-icon-22.gif");
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-center-14 {
	background-image: url(./images/loading-icon-14.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.htmlinputcontrol-label {
	margin: 0 10px 0 0;
}

.select2-highlighted * {
	color: inherit;
}

.select2-result-label {
	text-align: left;
}

span.input-checkbox input,
span.input-radio input {
	vertical-align: middle;
	margin-right: 5px;
	margin-top: 0 !important;
}

span.input-checkbox.align-right input,
span.input-radio.align-right input {
	margin-right: 0;
	margin-left: 5px;
}

span.input-checkbox label,
span.input-radio label {
	vertical-align: middle;
	text-decoration: none;
	font-weight: normal;
}

span.input-checkbox label:hover,
span.input-radio label:hover {
	text-decoration: underline;
	cursor: pointer;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.display-inline {
	display: inline;
}

.display-inline-block {
	display: inline-block;
}

*.highlight:hover,
tr.highlight:hover td {
	background: highlight !important;
	color: highlighttext !important;
}

tr.highlight:hover td a,
*.highlight:hover a {
	color: highlighttext !important;
}

.cursor-pointer,
tr.cursor-pointer td,
tr.cursor-pointer th {
	cursor: pointer;
}

@media print {
	
	.not-print,.not-printable {
		display: none !important;
	}
}


.space-left
{
    margin-left: 20px;
}

.space-right
{
    margin-right: 20px;
}

.space-top
{
    margin-top: 20px;
}

.space-bottom
{
    margin-bottom: 20px;
}

table.sortable tbody tr td
{
    cursor: move;
}

.grayscale,
.gray-scale
{
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.half-transparent,
.halftransparent,
.halfopacity,
.half-opacity
{
    opacity: 0.5;
}

.modal-dialog table.dataTable
{
    width: 100% !important;
}

table.dataTable tbody td
{
    /*width: 100%;*/
}

table.dataTable tbody td, table.dataTable tbody th
{
    padding: 7px 11px !important;
}

table.dataTable thead th.numeric-column
{
    text-align: center;
}

table.dataTable tbody td.numeric-column
{
    text-align: right;
    font-family: mono;
}


table.dataTable thead th.date-column,
table.dataTable tbody td.date-column
{
    text-align: center;
}

table.dataTable tbody td.date-column
{
    letter-spacing: 1px;
}

table.dataTable tbody td.image-column
{
    width: 100px;
}

table.dataTable tbody td.numeric-column,
table.dataTable tbody td.numeric-column *,
table.dataTable tbody td.date-column,
table.dataTable tbody td.date-column *,
table.dataTable thead th.numeric-column,
table.dataTable thead th.numeric-column *,
table.dataTable thead th.date-column,
table.dataTable thead th.date-column *
{
    white-space: nowrap;
}

#zphp-debug-block a
{
    color: #000;
    font-family: sans-serif;
}

.modal-dialog .modal-body
{
    padding: 30px 20px;
}


a.icon-link,
a.icon-link:hover
{
    text-decoration: none;
}

a.icon-link:hover span.text
{
    text-decoration: underline;
}

a.icon-link span.icon
{
    margin-right: 5px;
}

label.max-width
{
    white-space: nowrap;
}