.icon-silk { display: inline-block; height: 16px; width: 16px; background-image: url(./icons.png); }
.icon-silk.application-osx-add { background-position: 0 -0px; }
.icon-silk.application-osx-cascade { background-position: 0 -16px; }
.icon-silk.application-osx-delete { background-position: 0 -32px; }
.icon-silk.application-osx-double { background-position: 0 -48px; }
.icon-silk.application-osx-error { background-position: 0 -64px; }
.icon-silk.application-osx-get { background-position: 0 -80px; }
.icon-silk.application-osx-go { background-position: 0 -96px; }
.icon-silk.application-osx-home { background-position: 0 -112px; }
.icon-silk.application-osx-key { background-position: 0 -128px; }
.icon-silk.application-osx-lightning { background-position: 0 -144px; }
.icon-silk.application-osx-link { background-position: 0 -160px; }
.icon-silk.application-osx-split { background-position: 0 -176px; }
.icon-silk.application-osx-start { background-position: 0 -192px; }
.icon-silk.application-osx-stop { background-position: 0 -208px; }
.icon-silk.application-start { background-position: 0 -224px; }
.icon-silk.application-stop { background-position: 0 -240px; }
.icon-silk.arrow-ew { background-position: 0 -256px; }
.icon-silk.arrow-in-longer { background-position: 0 -272px; }
.icon-silk.arrow-ne { background-position: 0 -288px; }
.icon-silk.arrow-nsew { background-position: 0 -304px; }
.icon-silk.arrow-ns { background-position: 0 -320px; }
.icon-silk.arrow-nw { background-position: 0 -336px; }
.icon-silk.arrow-nw-ne-sw-se { background-position: 0 -352px; }
.icon-silk.arrow-nw-se { background-position: 0 -368px; }
.icon-silk.arrow-out-longer { background-position: 0 -384px; }
.icon-silk.arrow-se { background-position: 0 -400px; }
.icon-silk.arrow-sw { background-position: 0 -416px; }
.icon-silk.arrow-switch-bluegreen { background-position: 0 -432px; }
.icon-silk.arrow-sw-ne { background-position: 0 -448px; }
.icon-silk.asterisk-red { background-position: 0 -464px; }
.icon-silk.bell-silver { background-position: 0 -480px; }
.icon-silk.bell-silver-start { background-position: 0 -496px; }
.icon-silk.bell-silver-stop { background-position: 0 -512px; }
.icon-silk.bell-start { background-position: 0 -528px; }
.icon-silk.bell-stop { background-position: 0 -544px; }
.icon-silk.book-addresses-add { background-position: 0 -560px; }
.icon-silk.book-addresses-delete { background-position: 0 -576px; }
.icon-silk.book-addresses-edit { background-position: 0 -592px; }
.icon-silk.book-addresses-error { background-position: 0 -608px; }
.icon-silk.book-addresses-key { background-position: 0 -624px; }
.icon-silk.book-key { background-position: 0 -640px; }
.icon-silk.book-magnify { background-position: 0 -656px; }
.icon-silk.bookmark-add { background-position: 0 -672px; }
.icon-silk.bookmark-delete { background-position: 0 -688px; }
.icon-silk.bookmark-edit { background-position: 0 -704px; }
.icon-silk.bookmark-error { background-position: 0 -720px; }
.icon-silk.bookmark { background-position: 0 -736px; }
.icon-silk.bookmark-go { background-position: 0 -752px; }
.icon-silk.book-open-mark { background-position: 0 -768px; }
.icon-silk.book-red { background-position: 0 -784px; }
.icon-silk.book-tabs { background-position: 0 -800px; }
.icon-silk.border-all { background-position: 0 -816px; }
.icon-silk.border-bottom { background-position: 0 -832px; }
.icon-silk.border-draw { background-position: 0 -848px; }
.icon-silk.border-inner { background-position: 0 -864px; }
.icon-silk.border-inner-horizontal { background-position: 0 -880px; }
.icon-silk.border-inner-vertical { background-position: 0 -896px; }
.icon-silk.border-left { background-position: 0 -912px; }
.icon-silk.border-none { background-position: 0 -928px; }
.icon-silk.border-outer { background-position: 0 -944px; }
.icon-silk.border-right { background-position: 0 -960px; }
.icon-silk.border-top { background-position: 0 -976px; }
.icon-silk.box-error { background-position: 0 -992px; }
.icon-silk.box-picture { background-position: 0 -1008px; }
.icon-silk.box-world { background-position: 0 -1024px; }
.icon-silk.brick-magnify { background-position: 0 -1040px; }
.icon-silk.bug-fix { background-position: 0 -1056px; }
.icon-silk.bug-magnify { background-position: 0 -1072px; }
.icon-silk.build-cancel { background-position: 0 -1088px; }
.icon-silk.build { background-position: 0 -1104px; }
.icon-silk.bullet-connect { background-position: 0 -1120px; }
.icon-silk.bullet-cross { background-position: 0 -1136px; }
.icon-silk.bullet-database { background-position: 0 -1152px; }
.icon-silk.bullet-database-yellow { background-position: 0 -1168px; }
.icon-silk.bullet-earth { background-position: 0 -1184px; }
.icon-silk.bullet-edit { background-position: 0 -1200px; }
.icon-silk.bullet-eject { background-position: 0 -1216px; }
.icon-silk.bullet-get { background-position: 0 -1232px; }
.icon-silk.bullet-home { background-position: 0 -1248px; }
.icon-silk.bullet-left { background-position: 0 -1264px; }
.icon-silk.bullet-lightning { background-position: 0 -1280px; }
.icon-silk.bullet-magnify { background-position: 0 -1296px; }
.icon-silk.bullet-minus { background-position: 0 -1312px; }
.icon-silk.bullet-page-white { background-position: 0 -1328px; }
.icon-silk.bullet-plus { background-position: 0 -1344px; }
.icon-silk.bullet-right { background-position: 0 -1360px; }
.icon-silk.bullet-shape { background-position: 0 -1376px; }
.icon-silk.bullet-sparkle { background-position: 0 -1392px; }
.icon-silk.bullet-start { background-position: 0 -1408px; }
.icon-silk.bullet-stop-alt { background-position: 0 -1424px; }
.icon-silk.bullet-stop { background-position: 0 -1440px; }
.icon-silk.bullet-tick { background-position: 0 -1456px; }
.icon-silk.bullet-wrench-red { background-position: 0 -1472px; }
.icon-silk.button { background-position: 0 -1488px; }
.icon-silk.cake-out { background-position: 0 -1504px; }
.icon-silk.cake-sliced { background-position: 0 -1520px; }
.icon-silk.calendar-select-day { background-position: 0 -1536px; }
.icon-silk.calendar-select-none { background-position: 0 -1552px; }
.icon-silk.calendar-select-week { background-position: 0 -1568px; }
.icon-silk.calendar-star { background-position: 0 -1584px; }
.icon-silk.camera-connect { background-position: 0 -1600px; }
.icon-silk.camera-magnify { background-position: 0 -1616px; }
.icon-silk.camera-picture { background-position: 0 -1632px; }
.icon-silk.camera-start { background-position: 0 -1648px; }
.icon-silk.camera-stop { background-position: 0 -1664px; }
.icon-silk.car-error { background-position: 0 -1680px; }
.icon-silk.car-red { background-position: 0 -1696px; }
.icon-silk.car-start { background-position: 0 -1712px; }
.icon-silk.car-stop { background-position: 0 -1728px; }
.icon-silk.cart-full { background-position: 0 -1744px; }
.icon-silk.cart-magnify { background-position: 0 -1760px; }
.icon-silk.cd-magnify { background-position: 0 -1776px; }
.icon-silk.cd-play { background-position: 0 -1792px; }
.icon-silk.cdr-add { background-position: 0 -1808px; }
.icon-silk.cdr-burn { background-position: 0 -1824px; }
.icon-silk.cdr-cross { background-position: 0 -1840px; }
.icon-silk.cdr-delete { background-position: 0 -1856px; }
.icon-silk.cdr-edit { background-position: 0 -1872px; }
.icon-silk.cdr-eject { background-position: 0 -1888px; }
.icon-silk.cdr-error { background-position: 0 -1904px; }
.icon-silk.cdr { background-position: 0 -1920px; }
.icon-silk.cdr-go { background-position: 0 -1936px; }
.icon-silk.cdr-magnify { background-position: 0 -1952px; }
.icon-silk.cdr-play { background-position: 0 -1968px; }
.icon-silk.cdr-start { background-position: 0 -1984px; }
.icon-silk.cdr-stop-alt { background-position: 0 -2000px; }
.icon-silk.cdr-stop { background-position: 0 -2016px; }
.icon-silk.cdr-tick { background-position: 0 -2032px; }
.icon-silk.cd-stop-alt { background-position: 0 -2048px; }
.icon-silk.cd-stop { background-position: 0 -2064px; }
.icon-silk.cd-tick { background-position: 0 -2080px; }
.icon-silk.chart-org-inverted { background-position: 0 -2096px; }
.icon-silk.chart-pie-lightning { background-position: 0 -2112px; }
.icon-silk.check-error { background-position: 0 -2128px; }
.icon-silk.clipboard { background-position: 0 -2144px; }
.icon-silk.clock-start { background-position: 0 -2160px; }
.icon-silk.clock-stop { background-position: 0 -2176px; }
.icon-silk.cmy { background-position: 0 -2192px; }
.icon-silk.cog-start { background-position: 0 -2208px; }
.icon-silk.cog-stop { background-position: 0 -2224px; }
.icon-silk.color { background-position: 0 -2240px; }
.icon-silk.comment-dull { background-position: 0 -2256px; }
.icon-silk.comment-play { background-position: 0 -2272px; }
.icon-silk.comment-record { background-position: 0 -2288px; }
.icon-silk.compass { background-position: 0 -2304px; }
.icon-silk.computer-connect { background-position: 0 -2320px; }
.icon-silk.computer-magnify { background-position: 0 -2336px; }
.icon-silk.computer-off { background-position: 0 -2352px; }
.icon-silk.computer-start { background-position: 0 -2368px; }
.icon-silk.computer-stop { background-position: 0 -2384px; }
.icon-silk.computer-wrench { background-position: 0 -2400px; }
.icon-silk.control-add-blue { background-position: 0 -2416px; }
.icon-silk.control-add { background-position: 0 -2432px; }
.icon-silk.control-blank-blue { background-position: 0 -2448px; }
.icon-silk.control-blank { background-position: 0 -2464px; }
.icon-silk.control-power-blue { background-position: 0 -2480px; }
.icon-silk.control-power { background-position: 0 -2496px; }
.icon-silk.control-record-blue { background-position: 0 -2512px; }
.icon-silk.control-record { background-position: 0 -2528px; }
.icon-silk.control-remove-blue { background-position: 0 -2544px; }
.icon-silk.control-remove { background-position: 0 -2560px; }
.icon-silk.css-error { background-position: 0 -2576px; }
.icon-silk.cup-black { background-position: 0 -2592px; }
.icon-silk.cup-green { background-position: 0 -2608px; }
.icon-silk.cup-tea { background-position: 0 -2624px; }
.icon-silk.cursor-small { background-position: 0 -2640px; }
.icon-silk.database-copy { background-position: 0 -2656px; }
.icon-silk.database-start { background-position: 0 -2672px; }
.icon-silk.database-stop { background-position: 0 -2688px; }
.icon-silk.database-wrench { background-position: 0 -2704px; }
.icon-silk.database-yellow { background-position: 0 -2720px; }
.icon-silk.database-yellow-start { background-position: 0 -2736px; }
.icon-silk.database-yellow-stop { background-position: 0 -2752px; }
.icon-silk.decline { background-position: 0 -2768px; }
.icon-silk.decline-grey { background-position: 0 -2784px; }
.icon-silk.device-stylus { background-position: 0 -2800px; }
.icon-silk.disk-black-error { background-position: 0 -2816px; }
.icon-silk.disk-black { background-position: 0 -2832px; }
.icon-silk.disk-black-magnify { background-position: 0 -2848px; }
.icon-silk.disk-download { background-position: 0 -2864px; }
.icon-silk.disk-edit { background-position: 0 -2880px; }
.icon-silk.disk-error { background-position: 0 -2896px; }
.icon-silk.disk-magnify { background-position: 0 -2912px; }
.icon-silk.disk-upload { background-position: 0 -2928px; }
.icon-silk.door-error { background-position: 0 -2944px; }
.icon-silk.drink-red { background-position: 0 -2960px; }
.icon-silk.drive-cdr { background-position: 0 -2976px; }
.icon-silk.drive-network-error { background-position: 0 -2992px; }
.icon-silk.drive-network-stop { background-position: 0 -3008px; }
.icon-silk.dvd-start { background-position: 0 -3024px; }
.icon-silk.dvd-stop { background-position: 0 -3040px; }
.icon-silk.eject-blue { background-position: 0 -3056px; }
.icon-silk.eject-green { background-position: 0 -3072px; }
.icon-silk.email-magnify { background-position: 0 -3088px; }
.icon-silk.email-star { background-position: 0 -3104px; }
.icon-silk.email-start { background-position: 0 -3120px; }
.icon-silk.email-stop { background-position: 0 -3136px; }
.icon-silk.email-transfer { background-position: 0 -3152px; }
.icon-silk.erase { background-position: 0 -3168px; }
.icon-silk.eyes { background-position: 0 -3184px; }
.icon-silk.feed-star { background-position: 0 -3200px; }
.icon-silk.film-eject { background-position: 0 -3216px; }
.icon-silk.film-magnify { background-position: 0 -3232px; }
.icon-silk.film-star { background-position: 0 -3248px; }
.icon-silk.film-start { background-position: 0 -3264px; }
.icon-silk.film-stop { background-position: 0 -3280px; }
.icon-silk.finger-point { background-position: 0 -3296px; }
.icon-silk.flag-black { background-position: 0 -3312px; }
.icon-silk.flag-checked { background-position: 0 -3328px; }
.icon-silk.flag-france { background-position: 0 -3344px; }
.icon-silk.flag-grey { background-position: 0 -3360px; }
.icon-silk.flag-white { background-position: 0 -3376px; }
.icon-silk.flower-daisy { background-position: 0 -3392px; }
.icon-silk.folder-bookmark { background-position: 0 -3408px; }
.icon-silk.folder-connect { background-position: 0 -3424px; }
.icon-silk.folder-film { background-position: 0 -3440px; }
.icon-silk.folder-font { background-position: 0 -3456px; }
.icon-silk.folder-home { background-position: 0 -3472px; }
.icon-silk.folder-up { background-position: 0 -3488px; }
.icon-silk.font-color { background-position: 0 -3504px; }
.icon-silk.font-larger { background-position: 0 -3520px; }
.icon-silk.font-smaller { background-position: 0 -3536px; }
.icon-silk.forward-blue { background-position: 0 -3552px; }
.icon-silk.forward-green { background-position: 0 -3568px; }
.icon-silk.heart-broken { background-position: 0 -3584px; }
.icon-silk.heart-connect { background-position: 0 -3600px; }
.icon-silk.house-connect { background-position: 0 -3616px; }
.icon-silk.house-key { background-position: 0 -3632px; }
.icon-silk.house-star { background-position: 0 -3648px; }
.icon-silk.html-error { background-position: 0 -3664px; }
.icon-silk.image-magnify { background-position: 0 -3680px; }
.icon-silk.image-star { background-position: 0 -3696px; }
.icon-silk.ipod-connect { background-position: 0 -3712px; }
.icon-silk.ipod-nano-connect { background-position: 0 -3728px; }
.icon-silk.ipod-nano { background-position: 0 -3744px; }
.icon-silk.joystick-connect { background-position: 0 -3760px; }
.icon-silk.keyboard-connect { background-position: 0 -3776px; }
.icon-silk.key-start { background-position: 0 -3792px; }
.icon-silk.key-stop { background-position: 0 -3808px; }
.icon-silk.laptop-add { background-position: 0 -3824px; }
.icon-silk.laptop-connect { background-position: 0 -3840px; }
.icon-silk.laptop-delete { background-position: 0 -3856px; }
.icon-silk.laptop-disk { background-position: 0 -3872px; }
.icon-silk.laptop-edit { background-position: 0 -3888px; }
.icon-silk.laptop-error { background-position: 0 -3904px; }
.icon-silk.laptop { background-position: 0 -3920px; }
.icon-silk.laptop-go { background-position: 0 -3936px; }
.icon-silk.laptop-key { background-position: 0 -3952px; }
.icon-silk.laptop-link { background-position: 0 -3968px; }
.icon-silk.laptop-magnify { background-position: 0 -3984px; }
.icon-silk.laptop-start { background-position: 0 -4000px; }
.icon-silk.laptop-stop { background-position: 0 -4016px; }
.icon-silk.laptop-wrench { background-position: 0 -4032px; }
.icon-silk.layout-key { background-position: 0 -4048px; }
.icon-silk.layout-lightning { background-position: 0 -4064px; }
.icon-silk.lock-key { background-position: 0 -4080px; }
.icon-silk.lock-start { background-position: 0 -4096px; }
.icon-silk.lock-stop { background-position: 0 -4112px; }
.icon-silk.lorry-start { background-position: 0 -4128px; }
.icon-silk.lorry-stop { background-position: 0 -4144px; }
.icon-silk.mail { background-position: 0 -4160px; }
.icon-silk.map-clipboard { background-position: 0 -4176px; }
.icon-silk.map-cursor { background-position: 0 -4192px; }
.icon-silk.map-error { background-position: 0 -4208px; }
.icon-silk.map-link { background-position: 0 -4224px; }
.icon-silk.map-start { background-position: 0 -4240px; }
.icon-silk.map-stop { background-position: 0 -4256px; }
.icon-silk.monitor-key { background-position: 0 -4272px; }
.icon-silk.moon-full { background-position: 0 -4288px; }
.icon-silk.music-note { background-position: 0 -4304px; }
.icon-silk.neighbourhood { background-position: 0 -4320px; }
.icon-silk.new-blue { background-position: 0 -4336px; }
.icon-silk.new-red { background-position: 0 -4352px; }
.icon-silk.next-blue { background-position: 0 -4368px; }
.icon-silk.next-green { background-position: 0 -4384px; }
.icon-silk.next-green { background-position: 0 -4400px; }
.icon-silk.outline { background-position: 0 -4416px; }
.icon-silk.package-down { background-position: 0 -4432px; }
.icon-silk.package-in { background-position: 0 -4448px; }
.icon-silk.package-se { background-position: 0 -4464px; }
.icon-silk.package-start { background-position: 0 -4480px; }
.icon-silk.package-stop { background-position: 0 -4496px; }
.icon-silk.package-white { background-position: 0 -4512px; }
.icon-silk.page-back { background-position: 0 -4528px; }
.icon-silk.page-break { background-position: 0 -4544px; }
.icon-silk.page-break-insert { background-position: 0 -4560px; }
.icon-silk.page-cancel { background-position: 0 -4576px; }
.icon-silk.page-forward { background-position: 0 -4592px; }
.icon-silk.page-header-footer { background-position: 0 -4608px; }
.icon-silk.page-landscape { background-position: 0 -4624px; }
.icon-silk.page-landscape-shot { background-position: 0 -4640px; }
.icon-silk.page-magnify { background-position: 0 -4656px; }
.icon-silk.page-portrait { background-position: 0 -4672px; }
.icon-silk.page-portrait-shot { background-position: 0 -4688px; }
.icon-silk.page-white-break { background-position: 0 -4704px; }
.icon-silk.page-white-cdr { background-position: 0 -4720px; }
.icon-silk.page-white-connect { background-position: 0 -4736px; }
.icon-silk.page-white-database-yellow { background-position: 0 -4752px; }
.icon-silk.page-white-font { background-position: 0 -4768px; }
.icon-silk.page-white-paint { background-position: 0 -4784px; }
.icon-silk.page-white-paste-table { background-position: 0 -4800px; }
.icon-silk.page-white-refresh { background-position: 0 -4816px; }
.icon-silk.page-white-side-by-side { background-position: 0 -4832px; }
.icon-silk.paintbrush-color { background-position: 0 -4848px; }
.icon-silk.paint-can-brush { background-position: 0 -4864px; }
.icon-silk.paintcan-red { background-position: 0 -4880px; }
.icon-silk.paint { background-position: 0 -4896px; }
.icon-silk.pause-blue { background-position: 0 -4912px; }
.icon-silk.pause-green { background-position: 0 -4928px; }
.icon-silk.pause-record { background-position: 0 -4944px; }
.icon-silk.phone-edit { background-position: 0 -4960px; }
.icon-silk.phone-error { background-position: 0 -4976px; }
.icon-silk.phone-go { background-position: 0 -4992px; }
.icon-silk.phone-key { background-position: 0 -5008px; }
.icon-silk.phone-link { background-position: 0 -5024px; }
.icon-silk.phone-start { background-position: 0 -5040px; }
.icon-silk.phone-stop { background-position: 0 -5056px; }
.icon-silk.photo-edit { background-position: 0 -5072px; }
.icon-silk.photo-paint { background-position: 0 -5088px; }
.icon-silk.picture-clipboard { background-position: 0 -5104px; }
.icon-silk.pictures-thumbs { background-position: 0 -5120px; }
.icon-silk.pill-error { background-position: 0 -5136px; }
.icon-silk.play-blue { background-position: 0 -5152px; }
.icon-silk.play-green { background-position: 0 -5168px; }
.icon-silk.plugin-key { background-position: 0 -5184px; }
.icon-silk.previous-green { background-position: 0 -5200px; }
.icon-silk.printer-cancel { background-position: 0 -5216px; }
.icon-silk.printer-color { background-position: 0 -5232px; }
.icon-silk.printer-connect { background-position: 0 -5248px; }
.icon-silk.printer-go { background-position: 0 -5264px; }
.icon-silk.printer-key { background-position: 0 -5280px; }
.icon-silk.printer-mono { background-position: 0 -5296px; }
.icon-silk.printer-start { background-position: 0 -5312px; }
.icon-silk.printer-stop { background-position: 0 -5328px; }
.icon-silk.rainbow-star { background-position: 0 -5344px; }
.icon-silk.record-blue { background-position: 0 -5360px; }
.icon-silk.record-green { background-position: 0 -5376px; }
.icon-silk.record-red { background-position: 0 -5392px; }
.icon-silk.reload { background-position: 0 -5408px; }
.icon-silk.report-start { background-position: 0 -5424px; }
.icon-silk.report-stop { background-position: 0 -5440px; }
.icon-silk.reverse-blue { background-position: 0 -5456px; }
.icon-silk.reverse-green { background-position: 0 -5472px; }
.icon-silk.rewind-blue { background-position: 0 -5488px; }
.icon-silk.rewind-green { background-position: 0 -5504px; }
.icon-silk.rgb { background-position: 0 -5520px; }
.icon-silk.rosette-blue { background-position: 0 -5536px; }
.icon-silk.rss-error { background-position: 0 -5552px; }
.icon-silk.script-start { background-position: 0 -5568px; }
.icon-silk.script-stop { background-position: 0 -5584px; }
.icon-silk.seasons { background-position: 0 -5600px; }
.icon-silk.section-collapsed { background-position: 0 -5616px; }
.icon-silk.section-expanded { background-position: 0 -5632px; }
.icon-silk.server-start { background-position: 0 -5648px; }
.icon-silk.server-stop { background-position: 0 -5664px; }
.icon-silk.server-wrench { background-position: 0 -5680px; }
.icon-silk.shape-3d { background-position: 0 -5696px; }
.icon-silk.shape-shade-a { background-position: 0 -5712px; }
.icon-silk.shape-shade-b { background-position: 0 -5728px; }
.icon-silk.shape-shade-c { background-position: 0 -5744px; }
.icon-silk.shape-shadow { background-position: 0 -5760px; }
.icon-silk.shape-shadow-toggle { background-position: 0 -5776px; }
.icon-silk.shapes-many { background-position: 0 -5792px; }
.icon-silk.shapes-many-select { background-position: 0 -5808px; }
.icon-silk.shape-square-select { background-position: 0 -5824px; }
.icon-silk.share { background-position: 0 -5840px; }
.icon-silk.shield-error { background-position: 0 -5856px; }
.icon-silk.shield-rainbow { background-position: 0 -5872px; }
.icon-silk.shield-silver { background-position: 0 -5888px; }
.icon-silk.shield-start { background-position: 0 -5904px; }
.icon-silk.shield-stop { background-position: 0 -5920px; }
.icon-silk.smartphone-add { background-position: 0 -5936px; }
.icon-silk.smartphone-connect { background-position: 0 -5952px; }
.icon-silk.smartphone-delete { background-position: 0 -5968px; }
.icon-silk.smartphone-disk { background-position: 0 -5984px; }
.icon-silk.smartphone-edit { background-position: 0 -6000px; }
.icon-silk.smartphone-error { background-position: 0 -6016px; }
.icon-silk.smartphone { background-position: 0 -6032px; }
.icon-silk.smartphone-go { background-position: 0 -6048px; }
.icon-silk.smartphone-key { background-position: 0 -6064px; }
.icon-silk.smartphone-wrench { background-position: 0 -6080px; }
.icon-silk.sort-ascending { background-position: 0 -6096px; }
.icon-silk.sort-descending { background-position: 0 -6112px; }
.icon-silk.sound-high { background-position: 0 -6128px; }
.icon-silk.sound-in { background-position: 0 -6144px; }
.icon-silk.sound-out { background-position: 0 -6160px; }
.icon-silk.sport-golf-practice { background-position: 0 -6176px; }
.icon-silk.star-bronze { background-position: 0 -6192px; }
.icon-silk.star-bronze-half-grey { background-position: 0 -6208px; }
.icon-silk.star-gold { background-position: 0 -6224px; }
.icon-silk.star-gold-half-grey { background-position: 0 -6240px; }
.icon-silk.star-gold-half-silver { background-position: 0 -6256px; }
.icon-silk.star-grey { background-position: 0 -6272px; }
.icon-silk.star-half-grey { background-position: 0 -6288px; }
.icon-silk.star-silver { background-position: 0 -6304px; }
.icon-silk.status-be-right-back { background-position: 0 -6320px; }
.icon-silk.status-invisible { background-position: 0 -6336px; }
.icon-silk.stop-blue { background-position: 0 -6352px; }
.icon-silk.stop-green { background-position: 0 -6368px; }
.icon-silk.stop-red { background-position: 0 -6384px; }
.icon-silk.tab-blue { background-position: 0 -6400px; }
.icon-silk.tab-green { background-position: 0 -6416px; }
.icon-silk.table-cell { background-position: 0 -6432px; }
.icon-silk.table-column-add { background-position: 0 -6448px; }
.icon-silk.table-column-delete { background-position: 0 -6464px; }
.icon-silk.table-column { background-position: 0 -6480px; }
.icon-silk.table-connect { background-position: 0 -6496px; }
.icon-silk.table-row { background-position: 0 -6512px; }
.icon-silk.tab-red { background-position: 0 -6528px; }
.icon-silk.tags-grey { background-position: 0 -6544px; }
.icon-silk.tags-red { background-position: 0 -6560px; }
.icon-silk.telephone-red { background-position: 0 -6576px; }
.icon-silk.television-in { background-position: 0 -6592px; }
.icon-silk.television-off { background-position: 0 -6608px; }
.icon-silk.television-out { background-position: 0 -6624px; }
.icon-silk.television-star { background-position: 0 -6640px; }
.icon-silk.text-ab { background-position: 0 -6656px; }
.icon-silk.text-complete { background-position: 0 -6672px; }
.icon-silk.text-direction { background-position: 0 -6688px; }
.icon-silk.text-double-underline { background-position: 0 -6704px; }
.icon-silk.text-fit { background-position: 0 -6720px; }
.icon-silk.text-flip { background-position: 0 -6736px; }
.icon-silk.text-font-default { background-position: 0 -6752px; }
.icon-silk.text-inverse { background-position: 0 -6768px; }
.icon-silk.text-left-to-right { background-position: 0 -6784px; }
.icon-silk.text-lowercase-a { background-position: 0 -6800px; }
.icon-silk.text-mirror { background-position: 0 -6816px; }
.icon-silk.text-right-to-left { background-position: 0 -6832px; }
.icon-silk.text-rotate-0 { background-position: 0 -6848px; }
.icon-silk.text-rotate-180 { background-position: 0 -6864px; }
.icon-silk.text-rotate-270 { background-position: 0 -6880px; }
.icon-silk.text-rotate-90 { background-position: 0 -6896px; }
.icon-silk.text-ruler { background-position: 0 -6912px; }
.icon-silk.text-shading { background-position: 0 -6928px; }
.icon-silk.text-spelling { background-position: 0 -6944px; }
.icon-silk.text-tab { background-position: 0 -6960px; }
.icon-silk.theme { background-position: 0 -6976px; }
.icon-silk.time-green { background-position: 0 -6992px; }
.icon-silk.time-red { background-position: 0 -7008px; }
.icon-silk.transmit-red { background-position: 0 -7024px; }
.icon-silk.user-add { background-position: 0 -7040px; }
.icon-silk.user-alert { background-position: 0 -7056px; }
.icon-silk.user-b { background-position: 0 -7072px; }
.icon-silk.user-brown { background-position: 0 -7088px; }
.icon-silk.user-comment { background-position: 0 -7104px; }
.icon-silk.user-cross { background-position: 0 -7120px; }
.icon-silk.user-earth { background-position: 0 -7136px; }
.icon-silk.user-gray-cool { background-position: 0 -7152px; }
.icon-silk.user-home { background-position: 0 -7168px; }
.icon-silk.user-key { background-position: 0 -7184px; }
.icon-silk.user-magnify { background-position: 0 -7200px; }
.icon-silk.user-mature { background-position: 0 -7216px; }
.icon-silk.user-star { background-position: 0 -7232px; }
.icon-silk.user-suit-black { background-position: 0 -7248px; }
.icon-silk.user-tick { background-position: 0 -7264px; }
.icon-silk.vcard-key { background-position: 0 -7280px; }
.icon-silk.vector-key { background-position: 0 -7296px; }
.icon-silk.weather-cloud { background-position: 0 -7312px; }
.icon-silk.weather-cloudy-rain { background-position: 0 -7328px; }
.icon-silk.webcam-connect { background-position: 0 -7344px; }
.icon-silk.webcam-start { background-position: 0 -7360px; }
.icon-silk.webcam-stop { background-position: 0 -7376px; }
.icon-silk.world-connect { background-position: 0 -7392px; }
.icon-silk.world-dawn { background-position: 0 -7408px; }
.icon-silk.world-key { background-position: 0 -7424px; }
.icon-silk.world-night { background-position: 0 -7440px; }
.icon-silk.world-orbit { background-position: 0 -7456px; }
.icon-silk.xhtml-error { background-position: 0 -7472px; }
