.icon-flag { display: inline-block; height: 11px; width: 16px; background-image: url(./icons.png); }
.icon-flag.ad { background-position: 0 -0px; }
.icon-flag.ae { background-position: 0 -11px; }
.icon-flag.af { background-position: 0 -22px; }
.icon-flag.ag { background-position: 0 -33px; }
.icon-flag.ai { background-position: 0 -44px; }
.icon-flag.al { background-position: 0 -55px; }
.icon-flag.am { background-position: 0 -66px; }
.icon-flag.an { background-position: 0 -77px; }
.icon-flag.ao { background-position: 0 -88px; }
.icon-flag.ar { background-position: 0 -99px; }
.icon-flag.as { background-position: 0 -110px; }
.icon-flag.at { background-position: 0 -121px; }
.icon-flag.au { background-position: 0 -132px; }
.icon-flag.aw { background-position: 0 -143px; }
.icon-flag.ax { background-position: 0 -154px; }
.icon-flag.az { background-position: 0 -165px; }
.icon-flag.ba { background-position: 0 -176px; }
.icon-flag.bb { background-position: 0 -187px; }
.icon-flag.bd { background-position: 0 -198px; }
.icon-flag.be { background-position: 0 -209px; }
.icon-flag.bf { background-position: 0 -220px; }
.icon-flag.bg { background-position: 0 -231px; }
.icon-flag.bh { background-position: 0 -242px; }
.icon-flag.bi { background-position: 0 -253px; }
.icon-flag.bj { background-position: 0 -264px; }
.icon-flag.bm { background-position: 0 -275px; }
.icon-flag.bn { background-position: 0 -286px; }
.icon-flag.bo { background-position: 0 -297px; }
.icon-flag.br { background-position: 0 -308px; }
.icon-flag.bs { background-position: 0 -319px; }
.icon-flag.bt { background-position: 0 -330px; }
.icon-flag.bv { background-position: 0 -341px; }
.icon-flag.bw { background-position: 0 -352px; }
.icon-flag.by { background-position: 0 -363px; }
.icon-flag.bz { background-position: 0 -374px; }
.icon-flag.ca { background-position: 0 -385px; }
.icon-flag.catalonia { background-position: 0 -396px; }
.icon-flag.cc { background-position: 0 -407px; }
.icon-flag.cd { background-position: 0 -418px; }
.icon-flag.cf { background-position: 0 -429px; }
.icon-flag.cg { background-position: 0 -440px; }
.icon-flag.ch { background-position: 0 -451px; }
.icon-flag.ci { background-position: 0 -462px; }
.icon-flag.ck { background-position: 0 -473px; }
.icon-flag.cl { background-position: 0 -484px; }
.icon-flag.cm { background-position: 0 -495px; }
.icon-flag.cn { background-position: 0 -506px; }
.icon-flag.co { background-position: 0 -517px; }
.icon-flag.cr { background-position: 0 -528px; }
.icon-flag.cs { background-position: 0 -539px; }
.icon-flag.cu { background-position: 0 -550px; }
.icon-flag.cv { background-position: 0 -561px; }
.icon-flag.cx { background-position: 0 -572px; }
.icon-flag.cy { background-position: 0 -583px; }
.icon-flag.cz { background-position: 0 -594px; }
.icon-flag.de { background-position: 0 -605px; }
.icon-flag.dj { background-position: 0 -616px; }
.icon-flag.dk { background-position: 0 -627px; }
.icon-flag.dm { background-position: 0 -638px; }
.icon-flag.do { background-position: 0 -649px; }
.icon-flag.dz { background-position: 0 -660px; }
.icon-flag.ec { background-position: 0 -671px; }
.icon-flag.ee { background-position: 0 -682px; }
.icon-flag.eg { background-position: 0 -693px; }
.icon-flag.eh { background-position: 0 -704px; }
.icon-flag.england { background-position: 0 -715px; }
.icon-flag.er { background-position: 0 -726px; }
.icon-flag.es { background-position: 0 -737px; }
.icon-flag.et { background-position: 0 -748px; }
.icon-flag.europeanunion { background-position: 0 -759px; }
.icon-flag.fam { background-position: 0 -770px; }
.icon-flag.fi { background-position: 0 -781px; }
.icon-flag.fj { background-position: 0 -792px; }
.icon-flag.fk { background-position: 0 -803px; }
.icon-flag.fm { background-position: 0 -814px; }
.icon-flag.fo { background-position: 0 -825px; }
.icon-flag.fr { background-position: 0 -836px; }
.icon-flag.ga { background-position: 0 -847px; }
.icon-flag.gb { background-position: 0 -858px; }
.icon-flag.gd { background-position: 0 -869px; }
.icon-flag.ge { background-position: 0 -880px; }
.icon-flag.gf { background-position: 0 -891px; }
.icon-flag.gh { background-position: 0 -902px; }
.icon-flag.gi { background-position: 0 -913px; }
.icon-flag.gl { background-position: 0 -924px; }
.icon-flag.gm { background-position: 0 -935px; }
.icon-flag.gn { background-position: 0 -946px; }
.icon-flag.gp { background-position: 0 -957px; }
.icon-flag.gq { background-position: 0 -968px; }
.icon-flag.gr { background-position: 0 -979px; }
.icon-flag.gs { background-position: 0 -990px; }
.icon-flag.gt { background-position: 0 -1001px; }
.icon-flag.gu { background-position: 0 -1012px; }
.icon-flag.gw { background-position: 0 -1023px; }
.icon-flag.gy { background-position: 0 -1034px; }
.icon-flag.hk { background-position: 0 -1045px; }
.icon-flag.hm { background-position: 0 -1056px; }
.icon-flag.hn { background-position: 0 -1067px; }
.icon-flag.hr { background-position: 0 -1078px; }
.icon-flag.ht { background-position: 0 -1089px; }
.icon-flag.hu { background-position: 0 -1100px; }
.icon-flag.id { background-position: 0 -1111px; }
.icon-flag.ie { background-position: 0 -1122px; }
.icon-flag.il { background-position: 0 -1133px; }
.icon-flag.in { background-position: 0 -1144px; }
.icon-flag.io { background-position: 0 -1155px; }
.icon-flag.iq { background-position: 0 -1166px; }
.icon-flag.ir { background-position: 0 -1177px; }
.icon-flag.is { background-position: 0 -1188px; }
.icon-flag.it { background-position: 0 -1199px; }
.icon-flag.jm { background-position: 0 -1210px; }
.icon-flag.jo { background-position: 0 -1221px; }
.icon-flag.jp { background-position: 0 -1232px; }
.icon-flag.ke { background-position: 0 -1243px; }
.icon-flag.kg { background-position: 0 -1254px; }
.icon-flag.kh { background-position: 0 -1265px; }
.icon-flag.ki { background-position: 0 -1276px; }
.icon-flag.km { background-position: 0 -1287px; }
.icon-flag.kn { background-position: 0 -1298px; }
.icon-flag.kp { background-position: 0 -1309px; }
.icon-flag.kr { background-position: 0 -1320px; }
.icon-flag.kw { background-position: 0 -1331px; }
.icon-flag.ky { background-position: 0 -1342px; }
.icon-flag.kz { background-position: 0 -1353px; }
.icon-flag.la { background-position: 0 -1364px; }
.icon-flag.lb { background-position: 0 -1375px; }
.icon-flag.lc { background-position: 0 -1386px; }
.icon-flag.li { background-position: 0 -1397px; }
.icon-flag.lk { background-position: 0 -1408px; }
.icon-flag.lr { background-position: 0 -1419px; }
.icon-flag.ls { background-position: 0 -1430px; }
.icon-flag.lt { background-position: 0 -1441px; }
.icon-flag.lu { background-position: 0 -1452px; }
.icon-flag.lv { background-position: 0 -1463px; }
.icon-flag.ly { background-position: 0 -1474px; }
.icon-flag.ma { background-position: 0 -1485px; }
.icon-flag.mc { background-position: 0 -1496px; }
.icon-flag.md { background-position: 0 -1507px; }
.icon-flag.me { background-position: 0 -1518px; }
.icon-flag.mg { background-position: 0 -1529px; }
.icon-flag.mh { background-position: 0 -1540px; }
.icon-flag.mk { background-position: 0 -1551px; }
.icon-flag.ml { background-position: 0 -1562px; }
.icon-flag.mm { background-position: 0 -1573px; }
.icon-flag.mn { background-position: 0 -1584px; }
.icon-flag.mo { background-position: 0 -1595px; }
.icon-flag.mp { background-position: 0 -1606px; }
.icon-flag.mq { background-position: 0 -1617px; }
.icon-flag.mr { background-position: 0 -1628px; }
.icon-flag.ms { background-position: 0 -1639px; }
.icon-flag.mt { background-position: 0 -1650px; }
.icon-flag.mu { background-position: 0 -1661px; }
.icon-flag.mv { background-position: 0 -1672px; }
.icon-flag.mw { background-position: 0 -1683px; }
.icon-flag.mx { background-position: 0 -1694px; }
.icon-flag.my { background-position: 0 -1705px; }
.icon-flag.mz { background-position: 0 -1716px; }
.icon-flag.na { background-position: 0 -1727px; }
.icon-flag.nc { background-position: 0 -1738px; }
.icon-flag.ne { background-position: 0 -1749px; }
.icon-flag.nf { background-position: 0 -1760px; }
.icon-flag.ng { background-position: 0 -1771px; }
.icon-flag.ni { background-position: 0 -1782px; }
.icon-flag.nl { background-position: 0 -1793px; }
.icon-flag.no { background-position: 0 -1804px; }
.icon-flag.np { background-position: 0 -1815px; }
.icon-flag.nr { background-position: 0 -1826px; }
.icon-flag.nu { background-position: 0 -1837px; }
.icon-flag.nz { background-position: 0 -1848px; }
.icon-flag.om { background-position: 0 -1859px; }
.icon-flag.pa { background-position: 0 -1870px; }
.icon-flag.pe { background-position: 0 -1881px; }
.icon-flag.pf { background-position: 0 -1892px; }
.icon-flag.pg { background-position: 0 -1903px; }
.icon-flag.ph { background-position: 0 -1914px; }
.icon-flag.pk { background-position: 0 -1925px; }
.icon-flag.pl { background-position: 0 -1936px; }
.icon-flag.pm { background-position: 0 -1947px; }
.icon-flag.pn { background-position: 0 -1958px; }
.icon-flag.pr { background-position: 0 -1969px; }
.icon-flag.ps { background-position: 0 -1980px; }
.icon-flag.pt { background-position: 0 -1991px; }
.icon-flag.pw { background-position: 0 -2002px; }
.icon-flag.py { background-position: 0 -2013px; }
.icon-flag.qa { background-position: 0 -2024px; }
.icon-flag.re { background-position: 0 -2035px; }
.icon-flag.ro { background-position: 0 -2046px; }
.icon-flag.rs { background-position: 0 -2057px; }
.icon-flag.ru { background-position: 0 -2068px; }
.icon-flag.rw { background-position: 0 -2079px; }
.icon-flag.sa { background-position: 0 -2090px; }
.icon-flag.sb { background-position: 0 -2101px; }
.icon-flag.sc { background-position: 0 -2112px; }
.icon-flag.scotland { background-position: 0 -2123px; }
.icon-flag.sd { background-position: 0 -2134px; }
.icon-flag.se { background-position: 0 -2145px; }
.icon-flag.sg { background-position: 0 -2156px; }
.icon-flag.sh { background-position: 0 -2167px; }
.icon-flag.si { background-position: 0 -2178px; }
.icon-flag.sj { background-position: 0 -2189px; }
.icon-flag.sk { background-position: 0 -2200px; }
.icon-flag.sl { background-position: 0 -2211px; }
.icon-flag.sm { background-position: 0 -2222px; }
.icon-flag.sn { background-position: 0 -2233px; }
.icon-flag.so { background-position: 0 -2244px; }
.icon-flag.sr { background-position: 0 -2255px; }
.icon-flag.st { background-position: 0 -2266px; }
.icon-flag.sv { background-position: 0 -2277px; }
.icon-flag.sy { background-position: 0 -2288px; }
.icon-flag.sz { background-position: 0 -2299px; }
.icon-flag.tc { background-position: 0 -2310px; }
.icon-flag.td { background-position: 0 -2321px; }
.icon-flag.tf { background-position: 0 -2332px; }
.icon-flag.tg { background-position: 0 -2343px; }
.icon-flag.th { background-position: 0 -2354px; }
.icon-flag.tj { background-position: 0 -2365px; }
.icon-flag.tk { background-position: 0 -2376px; }
.icon-flag.tl { background-position: 0 -2387px; }
.icon-flag.tm { background-position: 0 -2398px; }
.icon-flag.tn { background-position: 0 -2409px; }
.icon-flag.to { background-position: 0 -2420px; }
.icon-flag.tr { background-position: 0 -2431px; }
.icon-flag.tt { background-position: 0 -2442px; }
.icon-flag.tv { background-position: 0 -2453px; }
.icon-flag.tw { background-position: 0 -2464px; }
.icon-flag.tz { background-position: 0 -2475px; }
.icon-flag.ua { background-position: 0 -2486px; }
.icon-flag.ug { background-position: 0 -2497px; }
.icon-flag.um { background-position: 0 -2508px; }
.icon-flag.us { background-position: 0 -2519px; }
.icon-flag.uy { background-position: 0 -2530px; }
.icon-flag.uz { background-position: 0 -2541px; }
.icon-flag.va { background-position: 0 -2552px; }
.icon-flag.vc { background-position: 0 -2563px; }
.icon-flag.ve { background-position: 0 -2574px; }
.icon-flag.vg { background-position: 0 -2585px; }
.icon-flag.vi { background-position: 0 -2596px; }
.icon-flag.vn { background-position: 0 -2607px; }
.icon-flag.vu { background-position: 0 -2618px; }
.icon-flag.wales { background-position: 0 -2629px; }
.icon-flag.wf { background-position: 0 -2640px; }
.icon-flag.ws { background-position: 0 -2651px; }
.icon-flag.ye { background-position: 0 -2662px; }
.icon-flag.yt { background-position: 0 -2673px; }
.icon-flag.za { background-position: 0 -2684px; }
.icon-flag.zm { background-position: 0 -2695px; }
.icon-flag.zw { background-position: 0 -2706px; }
